<h1><code ng:non-bindable="">ngDrag</code>
<div><span class="hint">directive in module <code ng:non-bindable="">angular-drag-drop</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="angular-drag-drop-directive-page angular-drag-drop-directive-ngdrag-page"><p>A directive that allows an item to be dragged and its $scope
tracked and provided to the drop target upon drop.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY ng-drag="{String}"
     ng-dragstart="{Expression}"
     ng-dragend="{Expression}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>ngDrag</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="angular-drag-drop-directive-page angular-drag-drop-directive-ngdrag-page"><p>Either emtpy or a string that can be used to
identify the type of data that is being transferred. This is most useful
for limiting where an item can be dropped. For example, say you show
multiple items each with multiple steps, and you want to limit dragging
steps to the same item.</p>
<pre><code class="lang-html">&lt;div class=&quot;item&quot; ng-drag=&quot;item/{{item.id}}&quot;&gt;...&lt;/div&gt;
</code></pre>
</div></td></tr><tr><td>ngDragstart</td><td><a href="" class="label type-hint type-hint-expression">Expression</a></td><td><div class="angular-drag-drop-directive-page angular-drag-drop-directive-ngdrag-page"><p>An expression that will be executed on
dragstart. Event available as <code>$event</code>.</p>
</div></td></tr><tr><td>ngDragend</td><td><a href="" class="label type-hint type-hint-expression">Expression</a></td><td><div class="angular-drag-drop-directive-page angular-drag-drop-directive-ngdrag-page"><p>An expression that will be evaluated on
dragend. Event available as <code>$event</code>.</p>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="angular-drag-drop-directive-page angular-drag-drop-directive-ngdrag-page"><h4 id="example_source">Source</h4>
<div source-edit="test" source-edit-deps="angular.js example.js" source-edit-html="example.html" source-edit-css="" source-edit-js="example.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="example.html">
<pre class="prettyprint linenums" ng-set-text="example.html"></pre>
<script type="text/ng-template" id="example.html">
  <style>
    .parent div {
      height: 3em;
      background-color: rgba(0, 0, 0, 0.1);
      margin: 1em;
    }
  </style>
  <div class="parent" ng-controller="ExController">
    <div ng-repeat="data in tests" style="background-color: {{data}};" ng-drag>
      {{data}} (Drag Me)
    </div>
    <div ng-drop="dropped = $from.data" style="background-color: {{dropped}};">
      {{dropped}} (Drop{{dropped && 'ped'}} here)
    </div>
  </div>
</script>
</div>
<div class="tab-pane" title="example.js">
<pre class="prettyprint linenums" ng-set-text="example.js"></pre>
<script type="text/ng-template" id="example.js">
  angular.module('test', ['angular-drag-drop'])
  .controller('ExController', function($scope) {
    $scope.tests = ['green', 'yellow', 'red'];
    $scope.alert = function(msg) {
      alert(msg);
    };
  });
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="test" ng-set-html="example.html" ng-eval-javascript="example.js"></div>
<h4 id="example_source">Source</h4>
<div source-edit="test2" source-edit-deps="angular.js example2.js" source-edit-html="example2.html" source-edit-css="" source-edit-js="example2.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="example2.html">
<pre class="prettyprint linenums" ng-set-text="example2.html"></pre>
<script type="text/ng-template" id="example2.html">
<style>
  .target {
    background-color: #ddd;
    height: 2em;
    min-width: 8em;
  }


  .num {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1em;
    text-align: center;
    color: white;
    margin: 1em;
  }

  .target.num { color: black; }
</style>
<p>Notice you can only drag between like colors.</p>
<div ng-controller="test">
  <div ng-repeat="color in data" style="background-color: {{color.color}};">
    <div class="num" ng-repeat="number in color.numbers" ng-drag="color/{{color.color}}">
      {{number}}
    </div>
    <div class="target num" ng-drop="current = $from.number" allow-drop="color/{{color.color}}">
      {{current || 'Drag ' + color.color + ' Here'}}
    </div>
  </div>
</div>
</script>
</div>
<div class="tab-pane" title="example2.js">
<pre class="prettyprint linenums" ng-set-text="example2.js"></pre>
<script type="text/ng-template" id="example2.js">
angular.module('test2', ['angular-drag-drop'])
  .controller('test', function($scope) {
    $scope.data = [{
      color: 'red',
      numbers: [1, 2, 3]
    },{
      color: 'green',
      numbers: [4, 5, 6]
    },{
      color: 'blue',
      numbers: [7, 8, 9]
    }]
  });
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="test2" ng-set-html="example2.html" ng-eval-javascript="example2.js"></div>
</div></div>
</div>
