<h1><code ng:non-bindable="">DragData</code>
<div><span class="hint">service in module <code ng:non-bindable="">ngDrag</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="ngdrag-service-page ngdrag-service-dragdata-page"><p><code>DragData</code> is a service that holds references to $scopes for
the drag directives. The source will be exposed for the ng-drop expression.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_add">add(scope)</h3>
<div class="add"><div class="ngdrag-service-page ngdrag-service-dragdata-add-page"><p><code>add</code> adds a scope to the service to be tracked by its
$id.</p>
</div><h5 id="methods_add_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>scope</td><td><a href="" class="label type-hint type-hint-scope">Scope</a></td><td><div class="ngdrag-service-page ngdrag-service-dragdata-add-page"><p>The scope to track</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_get">get(id)</h3>
<div class="get"><div class="ngdrag-service-page ngdrag-service-dragdata-get-page"><p><code>get</code> returns the scope with the given $id.</p>
</div><h5 id="methods_get_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>id</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="ngdrag-service-page ngdrag-service-dragdata-get-page"><p>The $id of the scope that you want returned.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
