<h1><code ng:non-bindable="">ngDragenter</code>
<div><span class="hint">directive in module <code ng:non-bindable="">ngDrag</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="ngdrag-directive-page ngdrag-directive-ngdragenter-page"><p>A directive that will execute some function on dragenter</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY ng-dragenter="{Expression}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>ngDragenter</td><td><a href="" class="label type-hint type-hint-expression">Expression</a></td><td><div class="ngdrag-directive-page ngdrag-directive-ngdragenter-page"><p>An expression to be executed on dragenter.</p>
</div></td></tr></tbody></table></div>
</div>
